<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home - AI Dev Frameworks Project</title>
</head>
<body>
    <%- include("partials/header") %>
    <section>
        <h1>Home</h1>
        <p>
            Welcome to My AI Development Frameworks and Integration project!
        </p>
    </section>
</body>
</html>